<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
       ">

    <import resource="classpath*:rest-context.xml"/>

    <bean id="entryPoint" class="com.kristinyoung.web.security.AuthEntryPoint"/>
    <bean id="authProvider" class="com.kristinyoung.web.security.UserDetailService"/>
    <bean id="authFilter" class="com.kristinyoung.web.security.AuthenticationInterceptorFilter"/>

    <security:global-method-security secured-annotations="enabled" access-decision-manager-ref="accessDecisionManager"/>

    <bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <constructor-arg>
            <list>
                <bean class="com.kristinyoung.web.security.AuthenticationVoter"/>
            </list>
        </constructor-arg>
    </bean>

    <security:http entry-point-ref="entryPoint" auto-config="false">
        <security:custom-filter before="ANONYMOUS_FILTER" ref="authFilter"/>
        <security:csrf disabled="true"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider ref="authProvider"/>
    </security:authentication-manager>
</beans>
